html {
  font-size: 10px;
}

body {
  font: 400 1rem "Source Sans Pro", sans-serif;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
textarea {
  background-color: transparent;
  border: 0;
  outline: none;
}

button {
  border: 0;
  cursor: pointer;
  outline: none;
}

table td {
  height: 30px;
  vertical-align: bottom;
}

th,
tr {
  font-size: 3rem;
  font-weight: 400;
  color: #727e8c;
}

.categories-inner {
  display: flex;
  max-width: 2500px;
  padding: 0 15px;
  margin: auto;
}

.container {
  display: flex;
  max-width: 1220px;
  padding: 0 15px;
  margin: auto;
}
